
// Vars:
$body-text-color: #B1BCCF;
$bg-color: #292E33;

$active-color: #1eaedb;

// Dimensions:
$bezel-height: 44px;

// Bezel:
$bezel-text-color: #60A5DF; //#74A9FC;


// Buttons/Controls:
$control-bg-color: black;
$control-color: white;
$control-radius: 4px;


// Scrollbars:
$scrollbar-width: 4px;
$scrollbar-bg: black;
$scrollbar-color: #1eaedb;


// ListView:
$listcontainer-bg: #4A4A4A;


@mixin hideOverflowText {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin fadeTransition {
	.fade-enter-active, .fade-leave-active {
	  	transition: opacity .5s
	}
	.fade-enter, .fade-leave-active {
	  	opacity: 0
	}
}
